################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Take-Skip/FileContentIndex/c4aca820-7264-48f9-bdb8-fb8a1aef4e7c.vsidx
/.vs/Take-Skip
/.vs/ProjectEvaluation
